[core]
	pager = delta
[merge]
	conflictStyle = zdiff3
[user]
	name = Kirill Morozov
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
