theme = "vim_dark_high_contrast"

[editor]
line-number = "relative"
rulers = [80]
idle-timeout = 33
color-modes = true
auto-save = true

[editor.file-picker]
hidden = false

[editor.indent-guides]
render = true

[editor.soft-wrap]
enable = true

[editor.lsp]
display-messages = true

[keys.normal]
C-e = "scroll_down"
C-g = [":new", ":insert-output lazygit", ":buffer-close!", ":redraw"]
C-s = ":update"
C-y = "scroll_up"
ret = "goto_word"

[keys.insert]
up = "no_op"
down = "no_op"
left = "no_op"
right = "no_op"
pageup = "no_op"
pagedown = "no_op"
home = "no_op"
end = "no_op"
