---
- name: Find Starship executable
  register: development_machine_starship_executable
  ansible.builtin.stat:
    path: "{{ development_machine_local_bin_dir }}/starship"
- name: Download Starship installation script
  when: not development_machine_starship_executable.stat.exists
  ansible.builtin.get_url:
    dest: /tmp/install-starship.sh
    url: https://starship.rs/install.sh
- name: Create installation directory
  when: not development_machine_starship_executable.stat.exists
  ansible.builtin.file:
    path: "{{ development_machine_local_bin_dir }}"
    state: directory
- name: Run Starship installation script
  when: not development_machine_starship_executable.stat.exists
  ansible.builtin.script:
    cmd: /tmp/install-starship.sh --bin-dir {{ development_machine_local_bin_dir }} --yes
    creates: "{{ development_machine_local_bin_dir }}/starship"
