---
- name: Include variables
  ansible.builtin.include_vars:
    file: fonts.yml
- name: Fonts directory exists
  ansible.builtin.file:
    path: "{{ development_machine_dest_per_system[ansible_facts['system']] }}"
    state: directory
    mode: "0700"
- name: Install Nerd Fonts
  ansible.builtin.include_tasks:
    file: install-nerd-font.yml
    apply:
      tags:
        - fonts
  loop: "{{ development_machine_fonts }}"
  loop_control:
    loop_var: font
  tags:
    - fonts
