---
- name: Include variables
  ansible.builtin.include_vars:
    file: fonts.yml
- name: Fonts directory exists
  ansible.builtin.file:
    path: "{{ dest_per_system[ansible_system] }}"
    state: directory
- name: Install Nerd Fonts
  ansible.builtin.include_tasks:
    file: install-nerd-font.yml
    apply:
      tags:
        - fonts
        - nerd_fonts
  loop: "{{ fonts }}"
  loop_control:
    loop_var: font
  tags:
    - fonts
    - nerd_fonts
