---
- name: Install macOS packages
  ansible.builtin.include_tasks:
    file: install-macos-packages.yml
    apply:
      tags:
        - packages
        - macos
  when: ansible_facts["distribution"] == "MacOSX"
  tags:
    - packages
    - macos
- name: Install deb packages
  ansible.builtin.include_tasks:
    file: install-deb-packages.yml
    apply:
      tags:
        - packages
        - linux
        - deb
        - linux_mint
  when: ansible_facts["distribution"] == "Linux Mint"
  tags:
    - packages
    - linux
    - deb
    - linux_mint
- name: Install rpm packages
  ansible.builtin.include_tasks:
    file: install-rpm-packages.yml
    apply:
      tags:
        - packages
        - linux
        - rpm
        - fedora
  when: ansible_facts["distribution"] == "Fedora"
  tags:
    - packages
    - linux
    - rpm
    - fedora
- name: Install Starship
  ansible.builtin.include_tasks:
    file: install-starship.yml
    apply:
      tags:
        - packages
        - starship
  when: ansible_facts["system"] == "Linux"
  tags:
    - packages
    - starship
- name: Install Oh My Zsh
  ansible.builtin.include_tasks:
    file: install-ohmyzsh.yml
    apply:
      tags:
        - packages
        - zsh
        - ohmyzsh
  tags:
    - packages
    - zsh
    - ohmyzsh
