---
- name: Add GitHub CLI repository
  become: true
  ansible.builtin.yum_repository:
    baseurl: https://cli.github.com/packages/rpm
    description: GitHub CLI
    gpgkey: >-
      https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x23F3D4EA75716059
    name: gh-cli
    state: present
- name: Enable Wezterm Copr
  become: true
  community.general.copr:
    name: wezfurlong/wezterm-nightly
- name: Enable Lazygit Copr
  become: true
  community.general.copr:
    name: dejan/lazygit
- name: Fedora bloat uninstalled
  become: true
  ansible.builtin.dnf:
    state: absent
    pkg:
      - akregator
      - akregator-libs
      - kde-connect
      - kde-connect-libs
      - kdeconnectd
      - kmahjongg
      - kmines
      - kolourpaint
      - kolourpaint-libs
      - kpat
      - krfb
      - krfb-libs
      - kwalletmanager5
      - kwrite
      - libreoffice-calc
      - libreoffice-core
      - libreoffice-data
      - libreoffice-draw
      - libreoffice-emailmerge
      - libreoffice-graphicfilter
      - libreoffice-gtk3
      - libreoffice-gtk4
      - libreoffice-help-en
      - libreoffice-impress
      - libreoffice-kf6
      - libreoffice-langpack-en
      - libreoffice-math
      - libreoffice-ogltrans
      - libreoffice-opensymbol-fonts
      - libreoffice-pdfimport
      - libreoffice-pyuno
      - libreoffice-ure
      - libreoffice-ure-common
      - libreoffice-writer
      - neochat
- name: Fedora packages installed
  become: true
  ansible.builtin.dnf:
    state: latest
    pkg:
      - alacritty
      - btop
      - fd-find
      - fzf
      - gh
      - git
      - go-task
      - golang
      - gopls
      - helix
      - jq
      - lazygit
      - neovim
      - podman
      - ripgrep
      - shfmt
      - uv
      - vim
      - vim-X11
      - wezterm
      - yq
      - zsh
