---
- name: Add GitHub CLI repository
  become: true
  ansible.builtin.yum_repository:
    baseurl: https://cli.github.com/packages/rpm
    description: GitHub CLI
    gpgkey: >-
      https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x23F3D4EA75716059
    name: gh-cli
    state: present
- name: Enable Wezterm Copr
  become: true
  community.general.copr:
    name: wezfurlong/wezterm-nightly
- name: Enable Lazygit Copr
  become: true
  community.general.copr:
    name: dejan/lazygit
- name: Fedora packages installed
  become: true
  ansible.builtin.dnf:
    state: latest
    pkg:
      - alacritty
      - btop
      - fd-find
      - fzf
      - gh
      - git
      - go-task
      - golang
      - gopls
      - helix
      - jq
      - lazygit
      - neovim
      - podman
      - ripgrep
      - uv
      - vim
      - vim-X11
      - wezterm
      - yq
      - zsh
