---
name: CI
# yamllint disable-line rule:truthy
on:
  - pull_request

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: StyLua
        uses: JohnnyMorganz/stylua-action@v4.1.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: v2.1.0
          args: >-
            --column-width 88
            --quote-style AutoPreferDouble
            --check .
