---
name: CI
# yamllint disable-line rule:truthy
on:
  - pull_request

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Lint YAML Files
        uses: karancode/yamllint-github-action@v3.0.0
        with:
          yamllint_strict: true

      - name: Check Lua Style
        uses: JohnnyMorganz/stylua-action@v4.1.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: v2.1.0
          args: >-
            --column-width 88
            --quote-style AutoPreferDouble
            --check .

      - name: Lint Ansible files
        uses: ansible/ansible-lint@v26.1.1
